/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.contributor {
	text-decoration: underline;
	text-decoration-color: #ea47cb;
}

.sort-bar {
	background-color: #cccccc;
}
