@tailwind base;
@tailwind components;
@tailwind utilities;

.contributor {
	text-decoration: underline;
	text-decoration-color: #ea47cb;
}

.sort-bar {
	background-color: #cccccc;
}

.sort-bar::-webkit-scrollbar {
	display: none;
}

.sort-bar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}
